---
# file: roles/appservers/tasks/main.yml
- name: Install required system packages
  apt: name={{ item }} state=latest update_cache=yes
  loop:
    [
      "apt-transport-https",
      "ca-certificates",
      "curl",
      "software-properties-common",
      "python3-pip",
      "virtualenv",
      "python3-setuptools",
    ]
  become: yes

- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  become: yes

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present
  become: yes

- name: Update apt and install docker-ce
  apt: update_cache=yes name=docker-ce state=latest
  become: yes

- name: Install Docker Module for Python
  pip:
    name: docker
  become: yes

- name: add ubuntu to docker group
  user:
    name: ubuntu
    append: yes
    group: docker
  become: yes